.label {
  width: 100%;
}

.input {
  padding: 13px;
  border: 1px solid var(--grey);
  border-radius: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 19px;
  width: 100%;
  transition: 0.3s;

  &::placeholder {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--input-placeholder-color);
  }

  &:focus,
  &:hover {
    background-color: var(--grey);
    outline: none;
  }

  &:active {
    background-color: var(--grey-accent);
  }
}

.error {
  color: var(--error-color);
}
