.container {
    padding: 50px;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1400px;
    min-height: 1024px;
    background-color: var(--white);
    background-image: url('/form-background-image.png');
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 60px;
    overflow: hidden;
}