@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:wght@400;500&family=Urbanist&display=swap');

:root {
  --white:                    #FFFFFF;
  --black:                    #000000;
  --input-placeholder-color:  #2E2E2E;
  --body-bg:                  rgb(35, 35, 35);
  --grey:                     #D2D2D2;
  --yellow:                   #FEC00F;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Cabin', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  min-width: 320px;
  background-color: var(--body-bg);
}

* {
  font-family: 'Cabin', serif;
  color: var(--black);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: 0;
  background: transparent;
  cursor: pointer;
}

input {
  /* -webkit-appearance: none;
  appearance: none; */
  border: none;
  border-radius: 0;
  background-color: #fff;
}
